.accordion {
    .card {
        background-color: #2a2929;

        h2 {
            button{

                color: white;
                
            }
        }
    }

    .card-body {
        color: white;
        background: #333;
    }
}