@font-face {
    font-family: 'Geomanist Black';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/geomanist/geomanist-regular-webfont9.ttf');
}
@font-face {
    font-family: 'Geomanist ExtraBold';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/geomanist/geomanist-regular-webfont8.ttf');
}
@font-face {
    font-family: 'Geomanist Bold';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/geomanist/geomanist-regular-webfont7.ttf');
}
@font-face {
    font-family: 'Geomanist SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/geomanist/geomanist-regular-webfont6.ttf');
}
@font-face {
    font-family: 'Geomanist Medium';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/geomanist/geomanist-regular-webfont5.ttf');
}
@font-face {
    font-family: 'Geomanist Regular';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/geomanist/geomanist-regular-webfont4.ttf');
}
@font-face {
    font-family: 'Geomanist Light';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/geomanist/geomanist-regular-webfont3.ttf');
}
@font-face {
    font-family: 'Geomanist ExtraLight';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/geomanist/geomanist-regular-webfont2.ttf');
}
@font-face {
    font-family: 'Geomanist Thin';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/geomanist/geomanist-regular-webfont.ttf');
}