/*---------------------
  Landing
-----------------------*/
.landing-text {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.landing {
    overflow: hidden;
    display: flex;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    height: 100vh;
    //background: radial-gradient(circle, #0000006b 0%, black 100%);
    //background: radial-gradient(farthest-side at bottom left, rgba(20, 20, 20, 0.6), #00000045), radial-gradient(farthest-corner at bottom right, rgba(20, 20, 20, 0.6), transparent 100vh);

    .overlay {
        position: absolute;
        display: block;
        width: 100vw;
        height: 100vh;
        background: radial-gradient(farthest-side at bottom left, #0000007a, #00000077), radial-gradient(farthest-corner at bottom right, #0000006f, #00000038 100vh);
        z-index: 8;
    }

    #video_background, #video_background_mobile {
        display: initial;
        position: absolute;
        height: 100vh;
        width: 100%;
        z-index: -1000;
        -o-object-fit: cover;
        object-fit: cover;
    }

    @media only screen and (max-width: 480px) {
        #video_background {
            display: none;
        }

        #video_background-mobile {
            display: block !important;
            width: 120%;
        }
    }

    &__content {
        .words {
            color: white;  /* Fallback: assume this color ON TOP of image */
            font-size: 5rem;
            letter-spacing: 15px;
        }

        h2 {
            color: white;
            margin-top: 20px;
            text-transform: uppercase;
        }

        h6 {
            color: white;
            font-size: 2.8rem;
            font-weight: 300;
            letter-spacing: 8px;
            margin-top: 30px;
            z-index: 10;
            position: relative;

            span {
                font-weight: 700;
            }
        }

        a {
            margin-top: 50px;
        }

        @media only screen and (max-width: 767px) {
            padding: 30px;
            .words {
                font-size: 2rem;
                margin-bottom: 60px;
                letter-spacing: 2px;

                .dot {
                    font-size: 2.5rem;
                }
            }

            h6 {
                font-size: 2rem;
                letter-spacing: 4px;
            }
        }
    }

    &__redes {
        color: white;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 96%;
        z-index: 9;

        @media screen and (max-width: 500px) {
            display: none;
        }

        a {
            color: white;
            margin-bottom: 25px;

            span {
                font-size: 1.5rem;
            }

            &:hover {
              color: $primary-color;
            }
        }
    }

    &__redes--mobile {
        margin-top: 20px;
        color: white;
        display: flex;
        z-index: 9;
        a {
            margin-right: 25px;
            color: white;
        }

    }

    &__conocenos {
        color: white;
        position: absolute;
        left: 45%;
        top: 90%;
        display: flex;
        z-index: 9999;

        @media screen and (max-width: 500px) {
            left: 28%;
        }

        i {
            animation: rec 2s infinite;
            font-size: 1.2rem;
            position: relative;
            top: 2px;
            @media screen and (max-width: 500px) {
                font-size: 1rem;
            }
        }

        h6 {
            color: white;
            margin-left: 8px;
            letter-spacing: 1px;
            font-size: 1.2rem;
            top: -1px;
            position: relative;
            @media screen and (max-width: 500px) {
                left: 28%;
                font-size: 1rem;
            }
        }
    }
}

@keyframes rec {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
