header .selection-buttons  {
  margin-top: 15px;

  a {
    color: $primary-color !important;
    margin-right: 5px
  }
}

.values {

  .table-price {
    padding-bottom: 40px;

    .video-cine {
      position: absolute;
    }

    th span {
      font-size: 12px;
      color: $primary-color;
    }

    td {
      span.wrong-text {
        text-decoration:line-through;
        font-style: italic;
        font-size: 12px;
      }

      span.price-combo {
        color: $primary-color;
      }

      .item-type {
        margin-left: 20px;

        @media (max-width: 660px) {
          margin-left: 0;
        }
      }
    }

  }

  .vigencia {
    padding-bottom: 0;
  }

.selection {
  padding-bottom: 0;
  .selection-buttons {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 660px) {
      flex-direction: column;

        .btn-value {
          margin-bottom: 10px;
        }
    }

    .btn-value {
        text-align: center;
        background: $primary-color;
        min-width: 200px;
        padding: 10px 20px;
        color: white;
        margin-right: 10px;
        margin-bottom: 12px;
    }
  }}

  .title {
      margin-bottom: 12px;
      color: white;

      span {
        color: $primary-color;
        font-size: 16px;
      }
    }

  .sub-title {
    color: white;
    font-size: 22px;
    margin-bottom: 35px;

    span {
      color: $primary-color;
      font-size: 12px;
    }
  }

  .unidad {
    color: white;
  }

  .header-title {
    color: white;
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 18px;

    span {
      color: $primary-color;
    }
  }

  .vigencia-details {
    color: white;
    text-align: center;
    margin-bottom: 20px
  }

  .commin-soon {
    color: $primary-color;
    font-size: 14px;
  }

  .pack-buttons {
    h5 {
      color: white;
      margin-bottom: 6px;
    }

    button {
      background: $primary-color;
      filter: brightness(85%);
      border: none;
      height: 80px;
      width: 80px;

      &:hover {
        filter: brightness(95%);
      }

      &.selected {
        background-color: rgb(255, 196, 0);
      }


      @media screen and (max-width: 992px) {
        margin-bottom: 80px;
      }

    }
  }
    .vertical {
        position: absolute;
        color: #141414;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 22rem;
        font-weight: 500;
        //left: -105px;
        left: -122px;
        top: 30px;
        z-index: 0;

        @media screen and (max-width: 1366px) {
          left: -105px;
          font-size: 16rem;
        }

        @media screen and (max-width: 992px) {
          display: none;
        }

        @media screen and (max-width: 430px) {
          display: none;
        }

        .dot-background {
          color: #200909;
        }
      }

      .services__item {

        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 80px;

        button {
          margin-top: 0;
        }

        h4 {
          margin-top: 20px
        }

        .values-header img {
          display: none;
          background: white;
          width: 30px;
          margin-right: 15px
        }
      }

      .contact {
        padding-top: 0;
        span {
            font-size: 1.5rem;
            color: white;
            display: block;
            text-align: center;
        }

        .btn-container {
          display: flex;
          align-items: center;
          a {
            background-color: $primary-color;
            margin: 0 auto;
            display: inline-block;
            margin-top: 40px;

            &:hover {
                color: #373737;
            }
        }
        }

      }

      ul {
        margin-top: 12px;
        li {
          color: white;
          list-style: none;
        }
      }

}

.card-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-value {
  width: 320px;
  height: 500px;
  margin-right: 10px;
  margin-bottom: 32px;
  background-color: rgb(20, 20, 20);
  color: white;
  position: relative;

  .label-highlighted {
    font-size: 12px;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    padding: 5px;
    z-index: 999;
    border-radius: 3px;

    &.green {
      background-color: green;
    }
  }

  .btn.primary-btn {
    padding: 16px 42px;
  }

  .header-card {
    max-height: 110px;
    overflow: hidden;
    position: relative;

    .image-container {
      height: 90px;
      
      &.gopro{
        background-image: linear-gradient(rgba(0, 0, 0, 0.796), rgba(0, 0, 0, 0.805)),
        url("/img/services/gopro.jpeg");
        background-size: cover;
      }

      &.profesional {
        background-image: linear-gradient(rgba(2, 2, 26, 0.072), rgba(28, 28, 28, 0.288)),
                  url("/img/services/gopro.jpeg");
      }

      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: white;
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 14px;
      }
     
    }
  }

  .content{
    height: 412px;
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .subtitle {
      color: white;
      font-size: 16px;
    }

    .prices {
      display: flex;
      justify-content: space-between;

      .border-right {
        border-right: 1px solid rgb(70, 70, 70) !important;
        padding-right: 10px;
      }
      
      .normal {
        color: $primary-color;
        font-weight: bold;
        font-size: 22px;

        span {
          font-size: 14px;
          color: white;
        }
      }

      hr {
        border: 1px solid rgb(35, 35, 35);
      }

      .combo {
        span {
          color: white;
          font-size: 12px;
        }
        color: $primary-color;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
  
}
.photos .owl-nav {
  color: white;
  position: absolute;
  bottom: 0px;
  left: 54px;
  display: flex;
  justify-content: space-between;
}

.owl-carousel .owl-stage {
  margin: 0 auto !important;
}

.owl-prev, .owl-next {
  font-size: 50px !important;
}

.owl-prev {
  position: relative;
  right: 30px;
}

.owl-next{
  position: relative;
  left: 30px;
}

.photo-slider {
  max-height: 500px;
}

.disclamers {
  text-align: center;
}

.no-default-service {
  padding-top: 82px;
}

.link {
  color: #e1c52f !important;
  cursor: pointer;
  padding: 12px 0;
  font-weight: bold;

  &:hover {
    color: $secondary-color;
  }
}



.ask-price {
  padding: 5px;
  background-color: white;
  color: $primary-color;
}

.modal-header {
  column-fill: balance;
    background: #161616;
    border: 0;
    border-radius: 0;

    .close {
      color: white !important;
    }
}


section.monthly {
  width: 100%;
  .monthly-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    .monthly-container {
      display: flex;
      background-color: #9d8c30;
      flex-direction: column;
      justify-content: space-between;;
      border-radius: 8px;
      padding: 50px;
      margin: 10px;
      min-width: 340px;
      position: relative;

      .monthy-highlighted {
        position: absolute;
        top: -12px;
        right: -6px;
        background-color: red;
        color: white;
        z-index: 9999;
        padding: 5px;
        border-radius: 5px;
      }

      &.middle {
        margin: 0px;
        background-color: $primary-color ;
      }
    }

    .price {
      margin-top: 20px;
      font-weight: bold;
      color: white;
    }
  }
}

.values-card {
  a {
    .card-type {
      font-size: 32px;
      font-weight: bold;
      color: white;
      text-align: center;
      padding: 60px;
      background-color: #b56d00;
      margin-bottom: 30px;
      background-position-y: center;
      background-position-x: center;
      background-size: 100%;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
    
      &.bg-inmobiliaria {
        background-image:linear-gradient(0deg, rgba(61, 45, 0, 0.809), rgba(71, 52, 0, 0.53)), url('/img/services/home1.jpg');
      }
    
      &.bg-arquitectos {
        background-image: linear-gradient(0deg, rgba(61, 0, 0, 0.809), rgba(71, 0, 0, 0.53)), url('/img/services/arq-1.png');
      }
    
      &.bg-alojamientos {
        background-image: linear-gradient(0deg, rgba(29, 116, 100, 0.809), rgba(0, 63, 71, 0.53)), url('/img/services/hotel-2.jpeg');
      }
  
        
      &:hover {
        background-size: 120%;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
      }

      @media (max-width: 660px) {
        font-size: 22px;
      }
    }
  }
}

.breadcrumb-option .overlay {
  background-color: black;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}