/*$primary-color: #c27a0d;
$secondary-color: #0c2b4b;
$white-color: #ffffff;
$heading-color: #111111;
$para-color: #5C5C5C;
$black-color: #000000;
$heading-color-2: #323232;
$normal-color: #1c1c1c;
$background: #f5f5f5;
$background-2: #f2f2f2;*/

$ef-films-color: red;
//$ef-home-color: rgb(0, 155, 142);
$ef-home-color: red;

$primary-color: #04ae91;
$primary-color-ultradark: #02212099;
$primary-color-dark: #39504d99;
$primary-color-light: #69e8d3;
$primary-color-ultralight: #ddf8f499;

$secondary-color: #a99561;

$white-color: #ffffff;
$black-color: #000000;

$heading-color: #e4e4e4;
$para-color: #fcfcfc;
$heading-color-2: #e6e6e6;
$normal-color: #888888;

$background: #020202;
$background-2: #060606;
//$background-2: rgb(19, 19, 19);

$border: #ebebeb;
$border-1: #e1e1e1;

$fm-unna: 'Unna', serif;
$fm-nunito: 'Nunito Sans', sans-serif;

//WHATSAPP
$whatsapp-footer: #1E2428;
$whatsapp-teal-green: #2A2F32;
//$whatsapp-chat-bubble:;
$whatsapp-chat-protection: #FDF9C5;
$whatsapp-chat-checkmark: #34B7F1;

$text-alojamiento-primary: #ddd;
$bg-alojamiento-primary: #0b0b0b;